.body {
    font-family: Arial, Helvetica, sans-serif;

}
*{
    margin: 0;
    padding: 0;
}

.principal-menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.main-title {
    color: white;
    font-size: 50px;
    margin-top:50px;
    margin-left: 300px;
}

.header-introduction {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 140px;

}

.subtitle {
    font-size: 35px;
    margin-bottom: 0%;
}

.principal-text {
    margin-top: 1%;
}

.header {
    background-image: url(./images/banner.webp);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 600px;
}

.menu ul {
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
    padding: 0px;
    margin-right: 330px;
    margin-top: 50px;
}

.menu li a {
    color: white;
    text-decoration: none;
    padding:20px;
    font-size: 18px;
}

.title-main{
    margin-bottom: 30px;
}

.images{
    width: 740px;
    height: 520px;
}

.first-button{
    margin-top: 40px;
    margin-bottom: 40px;
}

.first-button a{
    border: solid #784d3c 2px;
    padding: 17px;
    background-color: #784d3c;
    text-decoration: none;
    color: white;
}

.line{
    width: 420px;
    display: flex;
    float: left;
    border-color: rgb(255, 255, 255);
}

.blog-information{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 50px;
    margin-top: 25px;
}

.blog{
    margin-left: 300px;
}

.courses-title{
    margin-bottom: 30px;
}

.courses-subtitle{
    margin-bottom: 30px;
}

.price-title{
    margin-bottom: 30px;
    font-size: 18px;
}

.quota-title{
    font-size: 18px;
}

.second-button a{
    border: solid black 2px;
    padding: 17px;
    background-color:black;
    text-decoration: none;
    color: white;
}

.second-button{
    margin-bottom: 15px;
}

.types-coffee{
    margin-left: 300px;
}

.titles-of-main{
    margin-bottom: 20px;
}

.paragraphs-style{
    line-height: 35px;
    margin-bottom: 30px;
}

.coffee-recipes{
    margin-left: 300px;
}

.line2{
    width: 738px;
    display: flex;
    float: left;
    border-color: rgb(255, 255, 255);
}

.benefits-coffee{
    margin-left: 300px;
}

.footer{
    background-color: black;
    height: 120px;
    margin-top: 100px;
}

.footer-title{
    color: white;
    font-size: 50px;
    margin-left: 300px;
    margin-top: 30px;
}

.footer-information{
    display: flex;
    justify-content: space-between;
}

.about-us-information{
    display: grid;
    grid-template-columns:repeat(2,1fr) ;
}

.about-us-information p{
    line-height: 35px;
    margin-bottom: 30px;
    margin-top: 10px;
}
.images-about-us{
    width: 600px;
    height: 400px;
    margin-left: 300px;
}

.about-us-title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
